.content {
    overflow-x: hidden;
}

.link {
  stroke: #aaa;
  stroke-width: 3px;
}

.node {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.navbar-nav {
    margin: 0;
    padding: 7.5px 15px;
}

#graph-container {
    margin-left: 10px;
    border: 1.5px solid rgba(180, 180, 180, 1.0);
    padding: 0px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 28px;
    line-height: 52px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover div{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

/* The help tooltip */
.help-tip div{
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 40px;
    width: 300px;
    position: absolute;
    z-index: 999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

/* The pointer of the help tooltip */
.help-tip div:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:25px;
    top:-12px;
}

/* Prevents the help tooltip from being hidden */
.help-tip div:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/* Attack graph styles */
.link-attack-graph {
    stroke: #8c8c8c;
    stroke-width: 3px;
}