.link {
  stroke: #aaa;
  stroke-width: 3px;
}

.node {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

.navbar-nav {
    margin: 0;
    padding: 7.5px 15px;
}

#graph-container {
    margin-left: 10px;
    border: 1.5px solid rgba(180, 180, 180, 1.0);
    padding: 0px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
